<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/sidebar') %>
    <div class="login">
        <div class="loginForm">
            <form action="/login" method="POST">
                <div class="login-Info">
                    <h3>Welcome back</h3>
                    <p>Login to your account</p>
                </div>
                <div class="input-group">
                    <div class="input-icon">
                        <span class="material-symbols-outlined">person</span>
                    </div>
                    <input type="text" id="username" name="username" required>
                    <label for="username">Username</label>
                </div>
                <div class="input-group">
                    <div class="input-icon">
                        <span class="material-symbols-outlined">lock</span>
                    </div>
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="input-help">
                    <div class="remember">
                        <input type="checkbox">
                        <span>Remember me</span>
                    </div>
                    <div class="forgot"> 
                        <span>Forgot password?</span>
                    </div>
                </div>
                <div class="loginBtn">
                    <button type="submit">Login</button>
                </div>
                <div class="login-options">
                    <div class="option-info">
                        <hr class="horizontal-line">
                        <span>or continue with</span>
                        <hr class="horizontal-line">
                    </div>
                    <div class="option-button">
                        <div class="option-icon">
                            <img src="/icons/google.svg" alt="">
                        </div>
                        <div class="option-icon">
                            <img src="/icons/apple.svg" alt="">
                        </div>
                        <div class="option-icon">
                            <img src="/icons/facebook.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="option-signup">
                    <span>
                        Don't have an account?
                        <a href="/register">Sign up!</a>
                    </span>
                </div>
            </form>    
        </div>
    </div>
</body>
</html>