<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <div class="user-status">
        <%- include('partials/status') %>
    </div>
    <div>
        <%- include('partials/sidebar') %>
    </div>
    <div class="titleHead">
        <h1>Add a <%= title %></h1>
    </div>
    <div class="messageBox">
        <div class="messageForm">
            <form method="POST" action="/message">
                <div class="textarea-group">
                    <textarea name="info" id="info" rows="5"></textarea>
                    <label for="info">Message</label>
                </div>
                <div class="messageBtn">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>