<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <main class="messageContainer">
        <div class="user-status">
            <%- include('partials/status') %>
        </div>
        <div class="messageBox">
            <div class="messageForm">
                <form method="POST" action="/message">
                    <div class="textarea-group">
                        <textarea name="info" id="info" rows="5"></textarea>
                        <label for="info">Message</label>
                    </div>
                    <div class="messageBtn">
                        <button type="submit">Post</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="user-sidebar">
            <%- include('partials/sidebar') %>
        </div>
    </main>    
</body>
</html>